* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
    height: 100%;
}

body {
    background-color: #5b46a1;
}

/* Sidebar */

.sidebar {
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: #14171A;
}

.sidebar-position {
    top: 50%;
    transform: translatey(-50%);
    text-align: center;

    position: relative;
}

.img-sidebar {
    text-align: center;
}

.img-sidebar img {
    width: 170px;
    border: 5px solid #181818;
    border-radius: 50%;
}

.menu {
    margin: 20px 0;
    text-align: center;

    position: relative;
}

.menu a {
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 20px;

    /* Breaking line */
    display: block;
}

/* ------------------------------------ */

/* Main */

main {
    position: absolute;
    margin-left: 200px;
}

.main-titles {
    margin-top: 70px;
}

main h1, h2 {
    color: #fff;
    font-size: 50px;
    margin-right: 50px;
    margin-left: 50px;

    font-family: 'Bebas Neue', cursive;
}

main h3 {
    color: #fff;
    font-size: 50px;

    font-family: 'Bebas Neue', cursive;
}

.main-introduction {
    margin-top: 70px;
    font-size: 20px;
    color: #fff;
    margin-right: 50px;
    margin-left: 50px;
}

.introduction-paragraph, p {
    margin-top: 10px;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
}

.flexibility h4 {
    margin-top: 70px;
    font-size: 50px;
    color: #fff;
    margin-right: 50px;
    margin-left: 50px;

    font-family: 'Bebas Neue', cursive;
}

.flexibility p {
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
    margin-right: 50px;
    margin-left: 50px;
}

.self-knowledge h5 {
    margin-top: 70px;
    font-size: 50px;
    color: #fff;
    margin-right: 50px;
    margin-left: 50px;

    font-family: 'Bebas Neue', cursive;
}

.self-knowledge p {
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.more-informations {
    font-style: italic;
    font-size: 20px;
    color: #fff;
    margin-right: 50px;
    margin-left: 50px;
}

.flexibility-and-self-knowledge h6 {
    margin-top: 70px;
    color: #fff;
    font-size: 50px;
    margin-right: 50px;
    margin-left: 50px;

    font-family: 'Bebas Neue', cursive;
}

.flexibility-and-self-knowledge p {
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
    margin-right: 50px;
    margin-left: 50px;

    margin-bottom: 70px;
}

@media (max-width: 700px) {
    main {
        margin-left: 150px;
    }

    .sidebar {
        width: 150px;
    }

    .img-sidebar img {
        width: 145px;
    }
}

@media (max-width: 550px) {
    main {
        position: absolute;
        margin-top: 300px;
        margin-left: 0px;
    }

    .sidebar {
        position: absolute;
        height: 250px;
        width: 100%;
    }

    .main-titles {
        margin-top: 0px;
    }
    
    .menu a {
        margin: 5px;
        color: #fff;
        font-size: 20px;
        text-decoration: none;

        display: inline;
    }
}